#-----------------------------------------------------------------------------------------------------------------------
# File:  docker-compose.yml
#
# Desc:  Create a Docker container that hosts the Config Support Service listening on 23571.
#
# Usage Notes
# ===========
# This docker-compose file expects the following:
#
#   * The sbacoss/tds-config-service is already built.  Typically, the sbacoss/tds-config-service image is built as part
#     of the Maven build process.  The following command is used to build the .jars and the associated Docker image:
#
#       mvn clean package docker:build -f /path/to/service/pom.xml
#
#   * An enivronment file named config-service.env exists in the same directory as this docker-compose file.  The
#     following environment variables should be configured:
#
#       CONFIGS_DB_HOST=IP address or FQDN of the MySQL database server that hosts the TDS configs and session databases
#       CONFIGS_DB_PORT=The port on which the MySQL database server listens
#       CONFIGS_DB_NAME=The name of the TDS configs database (typically "configs")
#       CONFIGS_DB_USER=The MySQL user account with sufficient privileges to read from the configs and session
#                       databases
#       CONFIGS_DB_PASSWORD=The password for the MySQL user account
#
#     Due to the sensitive content contained within the config-service.env file, it is not (and should not be) checked
#     into source control.
#
#-----------------------------------------------------------------------------------------------------------------------
version: '2'
services:
  config:
    image: sbacoss/tds-config-service
    ports:
      - "23571:8080"
    env_file:
      - ./config-service.env